

:host
{
    display: inline-flex;
    width: 80px;
    height: 80px;
    color-scheme: light dark;
}

:host(:focus) figure
{
    border-color: rgb(205 205 205);
}
@media (prefers-color-scheme: dark) 
{
    :host(:focus) figure
    {
        border-color: rgb(81 81 81);
    }
}

figure
{
    flex: 1;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
    padding: 0;
    border: solid 1px transparent;
}
:host(.selected) figure
{
    border-color: inherit;
}

#selected
,::slotted([slot="selected"])
{
    grid-column: 1;
    grid-row: 1;

    justify-self: flex-start;
    align-self: flex-start;
    z-index: 2;

    opacity: 0;
    transition: opacity 200ms ease;
}

:host(:not([select],[selectable])) #selected
,:host(:not([select],[selectable])) ::slotted([slot="selected"])
{
    display: none;
    pointer-events: none;
}

#edit-button
,::slotted([slot="edit-button"])
{
    grid-column: 1;
    grid-row: 1;

    justify-self: flex-end;
    align-self: flex-start;
    z-index: 2;

    opacity: 0;
    transition: opacity 200ms ease;
}

:host(:not([edit],[editable])) #edit-button
,:host(:not([edit],[editable])) ::slotted([slot="edit-button"])
{
    display: none;
    pointer-events: none;
}

.icon
,::slotted([slot="icon"])
{
    grid-column: 1;
    grid-row: 1;

    justify-self: center;
    align-self: center;

    width: var(--icon-width, var(--icon-size));
    margin: .25em;
}
#image-icon
,::slotted(img[slot="icon"])
{
    display: block;
    max-width: 100%;
    min-width: 0;
    max-height: 100%;
    min-height: 0;
}
#text-icon
{
    font-size: 36px;
    line-height: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host(:not([src])) #image-icon
,:host([src]) #text-icon
{
    display: none;
}

#caption
,::slotted([slot="caption"])
{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

:host(:not([select],[selectable]):hover)  #edit-button
,:host(:not([select],[selectable]):hover) ::slotted([slot="edit-button"])
,:host(:focus)  #edit-button
,:host(:focus) ::slotted([slot="edit-button"])
,figure:has(:checked) #edit-button
,figure:has(:checked) ::slotted([slot="edit-button"])
,figure:has(:focus) #edit-button
,figure:has(:focus) ::slotted([slot="edit-button"])
,figure:has(:focus-within) #edit-button
,figure:has(:focus-within) ::slotted([slot="edit-button"])
{ 
    opacity: 1;
}


:host(:hover) #selected
,figure:has(:checked) #selected
,figure:focus #selected
,figure:focus-within #selected
{ 
    opacity: 1;
}